body
{
    background-color: beige !important;
    margin: 1% 5% !important;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 0 99px black;
    user-select: none !important;
    -webkit-user-drag: none;
}
html
{
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}
img
{
    pointer-events: none;
}
.p_about
{
    text-indent: 20vw;
}
.p_description
{
    text-indent: 40vw;
}
.navbar-brand, .about_me, .content_p, .features
{
    font-family: 'Imprint MT Shadow', 'Lucida Fax', 'Copper', sans-serif; 
}
*, .heading, .option_heading, h5
{
    font-family: 'Lucida Fax', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-brand, h5
{
    text-transform: uppercase;
    font-weight: bolder;
}
.navbar-toggler, .about_me, .card_text, .content_p, .footer_p, .p-address, input, textarea, .btn
{
    font-size: 1.2vw !important;
    color: #403F3F;
}
section .image img, section .about, .card_img, .card_body, input, textarea
{
    width: 100%;
}
section .about, .heading_Block, .cards, .card_body, .description .contents, .option_heading, .collec, .collec1, .collec2, .headings, footer, .addr-head, .option-head, .contact
{
    display: flex !important;
}
.heading_Block, .cards, .option_heading, .headings, footer
{
    align-items: center;
}
.heading_Block, .card_body, .description .contents, .headings, footer
{
    justify-content: center;
}
section .about .content h3, .card_title, .btn-primary, .description .contents h3, .features
{
    font-size: 1.5vw !important;
    color: black;
}
.card_list, .cards, .heading_Block, footer
{
    background-color: #04031C;
}
section .about, section .about .photo, .heading, .option_heading, .collec, .collec1, .collec2, .even, .odd, h5, .features, .footer_p
{
    background-color: transparent;
}
.heading_Block, .option_heading
{
    height: 10%;
}
.footer_p, .cards, .card_text 
{
    margin: 1%;
}
.heading, .footer_p
{
    color: #fff !important;
}
h5, .features, .option_heading
{
   color:#FCF8E0;
   text-shadow: 5px 4px 25px #969AC6;
}
.heading, h5
{
    font-size: 2vw !important;
}
.headings, .cont-h2
{
    color: #000;
    font-size: 2.5vw;
    margin: 2% 0%;
}
textarea, .form-control
{
    border-radius: 0.5vw !important;
}
section .image img, .content, .photo, input, textarea 
{
    height: fit-content !important;
}
.heading, .headings, .cont-h2
{
    border-bottom: 2px double;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-width: thick;
}
.addr-head, .option-head
{
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}
.collec1, .collec2, .contact
{
    flex-direction: row;
    justify-content: space-between;
}
.even, .odd
{
    width: 35%;
}
footer, .headings
{
    height: 10vh;
}
header
{
    padding: 1vw 2vw;
    z-index: 2;
}
header .navbar
{
    padding: 0.8vw 1.8vw;
}
header nav .navbar-brand
{
    font-size: 1.9vw !important;
    padding: 0.1vw 2vw;
    text-decoration-line: underline;
    text-shadow: 0.07vw 0.06vw;
    letter-spacing: 0.1vw;
}
header nav .navbar-toggler
{
    padding: 0.7vw 1.4vw;
    outline: none;
    margin-right: 2vw;
}
header nav div .navbar-nav
{
    vertical-align: middle;
    margin:0vw 2vw;
    list-style: none;
}
header nav div ul .nav-item .nav-link
{
    padding: 0vw 0.6vw !important;
    width: max-content;
    font-size: 1vw;
    text-shadow: 0.08vw 0.05vw;
}
header nav div ul .nav-item .nav-link:hover
{
    text-decoration: underline
}
section .image img
{
    max-height: 50vh;
    z-index: 1;
}
section .about
{
    max-width: 100%;
    flex-direction: row;
    max-height: 20vh;
}
section .about .content
{
    display: block;
    justify-content: right;
    text-align: right;
    padding: 2% 2% 0% 2%;
}
section .about .photo 
{
    padding: 0%;
    margin: 0% 6% 0% 0%;
    width: 20%;
    z-index: 0;
}
section .about .photo .Narendra_image
{
    position: relative;
    width: 80%;
    height: 36vw; 
    border-radius: 35%;
    top: -5vh;
    max-height: 25vh;
}
.card_list
{
    height: 70vh;
    padding: 2%;
}
.cards
{
    flex-direction: row;
    width: auto;
    height: 83%;
    text-align: center;
    justify-content: space-evenly;
}
.card
{
    display: inline-block !important;
    height: 100%;
    width: 40%;
    flex: 0 0 auto;
}
.card_img
{
    height: 55%;
    border-radius: 2%;
}
.card_body
{
    height: 45%;
    padding: 2%;
    flex-direction: column;
}
.card_title
{
    margin: 1% auto 0%;
}
.btn-primary
{
    margin-bottom: 1%;
}
.description .contents
{
    padding: 3% 10%;
    flex-direction: column;
    text-align: right;
    height: 50vh;
    max-height: 50vw;
}
.description .options
{
    padding: 2%;
    height: 80vh;
    background: url("content_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.option_heading
{
    justify-content: left;
    font-size: 2.5vw;
    margin-left: 2.5%;
}
.collec
{
    flex-direction: column;
    height: 88%;
    justify-content: space-around;
    padding: 0% 3%;
}
.contact-us
{
    padding: 0 5% 2%; 
}
.contact
{
    margin: 2% 2% auto;
}
.p-address
{
    margin: auto;
}
.contact-us
{
    background: cornsilk;
}
.p-address
{
    padding-bottom: 1%;
}
input
{
    padding: 1% 5% !important;
}
textarea 
{
    margin: 1%  !important;
    padding: 1% 3% !important;
    border: 1px solid #ced4da;
}
.btn
{
    padding: 1% 3% !important;
    margin-left: 0%;
}
.form-control:focus
{
    outline: 2px solid black !important;
    box-shadow: none !important;
}
.col
{
    padding-left: 1% !important;
}